* {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header {
    background-color: darkslateblue;
    padding: 20px;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 600;
}
#container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.card {
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 3px 6px lightgrey;
    transition: 0.6s;
}
.card:hover {
    transform:scale(1.05)
}
.top {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid gray;
    align-items: center;
}
.left {
    display: flex;
    flex-direction: column;
}
.left > .case-number {
    font-size: 12px;
}
.left > .badge {
     border-radius: 3px;
     padding: 3px 5px;
}
.right {
    font-size: 12px;
}
.bottom {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bottom > .price {
    align-self: flex-end;
}
.approved {
    background-color: rgba(0, 38, 255, 0.918);
    color: white;
}
.pending {
    background-color: rgba(253, 253, 27, 0.966);
    color: rgb(44, 9, 9);
}

.completed {
    background-color: rgba(2, 153, 2, 0.966);
    color: white;
}
.cancelled {
    background-color: rgba(243, 12, 12, 0.932);
    color: white;
}

@media screen and (min-width:700px) {
    #container {
        grid-template-columns:  repeat(4, 1fr);
    }
}
@media screen and (max-width:700px) {
    #container {
        grid-template-columns:  repeat(2, 1fr);
    }
}
@media screen and (max-width:400px) {
    #container {
        grid-template-columns:  repeat(1, 1fr);
    }
}